@charset "utf-8";
/* CSS Document */

#event {
	width:1024px;
	margin:0 auto;
	
	padding-top:25px;
	}
	
.pocket {
	float:left;
	box-shadow:0 0 3px gray;
	margin:10px;
	}
	
.pocket_det {
	background-color:#333;

	}
	
a.button {
	width:70px;
	text-decoration:none;
	color:#FFF;
	display:inline-block;
	background-color:#666;
	padding:10px;
	}

a.button1 {
	width:75px;
	text-decoration:none;
	color:#FFF;
	display:inline-block;
	background-color:#666;
	padding:10px;
	}
	
#event{
	padding:5px;
	margin-top:20px;
	
	}
	
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
	clear: both; 
}
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    zoom: 1;  
}